/**
 * Decathlon theme for presentation
 * Based on Hakim El Hattab, http://hakim.se reveal.js theme.
 *
 * Customized with Decathlon Vitamin
 */

@import "../index.css";

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: var(--vtmn-color_white);

$mainColor: var(--vtmn-color_brand-digital);
$headingColor: var(--vtmn-color_brand-digital);

$mainFontSize: 42px;
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: var(--vtmn-color_orange);
$linkColorHover: var(--vtmn-color_orange-light-1);
$selectionBackgroundColor: var(--vtmn-color_orange-light-2);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(var(--vtmn-color_grey-dark-3));

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
